.forest-bg {
  background: center / cover no-repeat url("https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
}

.jumbotron h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

h2 {
  text-align: center;
  border-bottom: .5px solid grey;
}

.row img {
  display: block;
  margin: 0 auto;
}

.row p {
  margin: 5px 10px;
  padding: 10px;
}
